
.vs/Unity Hello World/FileContentIndex/45626bd7-fb28-4ca1-b810-e1fc596f7d11.vsidx
.vs/Unity Hello World/FileContentIndex/45626bd7-fb28-4ca1-b810-e1fc596f7d11.vsidx
.vs/Unity Hello World/FileContentIndex/45626bd7-fb28-4ca1-b810-e1fc596f7d11.vsidx
/.vs
